:root{
    

    --header-height: 4rem;
    --sidebar-width: 5rem;
}


/* HEADER */
header{
    min-height: var(--header-height);
    
}

header img{
    max-height: 3rem;
    
}

ul{
    list-style-type: none;
    margin-bottom: 0!important;
    padding-left: 0!important;
}

/* HEADER SEARCH FORM */
.form-group{
    width: 100%;
}

.has-search .form-control {
    padding-left: 2.375rem;
    background-color: lightgray;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #797979;
}


/* SIDEBAR */

#sidebar{
    width: var(--sidebar-width);
    height: calc(100vh - var(--header-height));
    background-color: #051E34;
    background-image: url(../img/sidebar-bg.png);
}

#side-content{
    height: 100%;
}

#sidebar a{
    text-decoration: none;
    color: white;
    font-weight: 600;
}

/* CONTENT */
#content{
    height: calc(100vh - var(--header-height));
    width: calc(100% - var(--sidebar-width));
    overflow-y: auto;
}

/* TOP CONTENT */
#top-content{
    color: white;
}

/* BOTTOM CONTENT */
table img{
    width: 2rem;
}

table a{
    text-decoration: none;
    color: gray;
}


/* COLORS */
.bg-skyblue {background-color: #1B72E8;}
.bg-blue {background-color: #165BBA;}


/* HOVER */
#side-item:hover{
    background-color: rgba(255, 255, 255, 0.527)
}

table tr:hover td{
    background-color: rgba(83, 83, 83, 0.404);
}

table td a:hover > i{
    transform: scale(1.2);
}


@media (min-width: 992px) {
    #sidebar{
        width: 10rem;
    }
}